<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center; background-color: aquamarine; ">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div> -->

<div class="container-fluid">
  <h1 style=" text-align:center ">Bootcamp Enrolment Form</h1>
        <!-- Error Handling
   <div class="alert alert-danger" *ngIf="errorMsg">
    {{ errorMsg }}
  </div> -->

  <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>

    <!-- {{ userForm.form.valid }}

    {{ userForm.value | json }}
    <hr />
    {{ userModel | json }} -->

    <div class="form-group">
      <label>Name</label>
      <input type="text"
      required
       #name="ngModel"
       [class.is-invalid]="name.invalid && name.touched" 
       class="form-control" 
       name="userName" 
       [(ngModel)]="userModel.name"
       placeholder="Ex: Rian Hidayatuloh">
       <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required!!</small>
    </div>
    <!-- {{ name.valid }} -->

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email" placeholder="Ex: cuanky@email">
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="tel" 
      class="form-control" 
      #phone="ngModel"
      required 
      pattern="^\d{10}$"
      [class.is-invalid]="phone.invalid && phone.touched"
      [(ngModel)]="userModel.phone"
      name="phone"
      placeholder="Ex: 1234">
      <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required must be 10 digits</small> -->

      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
        <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>
      </div>

    </div>

    <div class="form-group">
      <select
      (blur)="validateTopic(topic.value)"
      (change)="validateTopic(topic.value)"
      #topic="ngModel"
      [class.is-invalid]="topicHasError && topic.touched" 
      class="custom-select" 
      name="topic" 
      [(ngModel)]="userModel.topic">
        <option value="default">I am interested in</option>
        <option *ngFor="let topic of topics"> {{ topic }} </option>
      </select>
      <small 
      class="text-danger" 
      [class.d-none]="!topicHasError || topic.untouched">Please select a topic</small>
    </div>
  
    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
        <input class="form-check-input" name="radio" [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="morning">
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="radio" [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="evening">
        <label class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe" type="checkbox">
      <label class="form-check-label">
        Send me promotional offers
      </label>

    </div>

    <button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary" type="submit">Submit Form</button>

  </form>
</div>